{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Bonjour {{ app.user.firstName }}
        </div>
        <div class="mb-3">
            Nom : {{ app.user.firstName }}
        </div>
        <div class="mb-3">
            Prénom : {{ app.user.lastName }}
        </div>
        <div class="mb-3">
            Email : {{ app.user.email }}
        </div>
        <a href="{{ path('user_update', {id: app.user.id}) }}"> <button type="button" class="btn btn-primary">Modifier</button> </a>
        <a href="{{ path('app_logout') }}"> <button type="button" class="btn btn-primary"> Deconnexion </button> </a>
    {% else %}
    <h1 class="h3 mb-3 font-weight-normal">Information de connexion</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-primary" type="submit">
        Sign in
    </button>
    {% endif %}
</form>
{% endblock %}
