{% extends 'base.html.twig' %}

{% block body %}
    <h1> Membres</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Groupe</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td> {{ member.name }} </td>
                <td> {{ member.firstName }} </td>
                <td> {{ member.birthDate|date("m/d/Y") }} </td>
                <td> {{ member.band.name|default('Pas de groupe') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}