{% extends 'base.html.twig' %}

{% block body %}
    <h1> Gestion des membres</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Groupe</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td> {{ member.name }} </td>
                <td> {{ member.firstName }} </td>
                <td> {{ member.birthDate|date("m/d/Y") }} </td>
                <td> {{ member.band.name|default('Pas de groupe') }}</td>
                <td>
                    <a href="{{ path('member_delete', {id: member.id}) }}"> <button type="button" class="btn btn-primary">Supprimer</button> </a>
                    <a href="{{ path('member_update', {id: member.id}) }}"> <button type="button" class="btn btn-primary">Modifier</button> </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div>
        <a href="{{ path('member_create') }}"> <button type="button" class="btn btn-primary">Crée un nouveau membre</button> </a>
    </div>
{% endblock %}