{% extends 'base.html.twig' %}

{% block body %}
    <h1> Groupes</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for band in bands %}
            <tr>
                <td style="width: 20%"> <img style="width: 100%;"src="{{ asset('images/'~ band.picture)}}" alt="Image de groupe"> </td>
                <td> <a href="{{ path('band_id', {id: band.id}) }}">{{ band.name|e }}</a> </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}