{% extends 'base.html.twig' %}

{% block body %}
    <h1> Gestion des groupes</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Nom</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for band in bands %}
            <tr>
                <td style="width: 20%"> <img style="width: 100%;"src="{{ asset('images/'~ band.picture)}}" alt="Image de groupe"> </td>
                <td> <a href="{{ path('band_id', {id: band.id}) }}">{{ band.name|e }}</a> </td>
                <td>
                    <a href="{{ path('band_delete', {id: band.id}) }}"> <button type="button" class="btn btn-primary">Supprimer</button> </a>
                    <a href="{{ path('band_update', {id: band.id}) }}"> <button type="button" class="btn btn-primary">Modifier</button> </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div>
        <a href="{{ path('band_create') }}"> <button type="button" class="btn btn-primary">Créer un nouveau groupe</button> </a>
    </div>
{% endblock %}