{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ band.name }} </h1>
    <h2> Membres :</h2>
    <p>est composé de {{ band.members|length }} membres :</p>
    {% for member in band.members %}
        <div>
            <img style="width: 20%" src="{{ asset('images/'~ member.picture) }}" class="card-img-top" alt="...">
            <h5>{{ member.name }} {{ member.firstname }}</h5>
            <p>Né le {{ member.birthDate|date('d-m-Y') }}</p>
            <p>{{ member.job }}</p>
        </div>
    {% endfor %}
    <h2> Prochain concert :</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Tournée</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for concert in band.concerts %}
            {% if concert.date|date("m/d/Y") >= "now"|date("m/d/Y") %}
                <tr>
                    <td> {{ concert.tourName }} </td>
                    <td> {{ concert.date|date("m/d/Y") }} </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}