{% extends 'base.html.twig' %}

{% block body %}
    <h1> {{ type }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Groupe</th>
            <th scope="col">Tournée</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for concert in concerts %}
            <tr>
                <td>
                    {% for concert in concert.bands %}
                        {{ concert.name }}
                    {% endfor %}
                </td>
                <td> {{ concert.tourName }} </td>
                <td> {{ concert.date|date("m/d/Y") }} </td>
            </tr>
        {% endfor %}
    </table>
    <p> {{ message }}</p>
{% endblock %}