{% extends 'base.html.twig' %}

{% block body %}
    <h1> Gestion des concerts </h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Groupe</th>
            <th scope="col">Tournée</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for concert in concerts %}
            <tr>
                <td>
                    {% for concert in concert.bands %}
                        {{ concert.name }}
                    {% endfor %}
                </td>
                <td> {{ concert.tourName }} </td>
                <td> {{ concert.date|date("m/d/Y") }} </td>
                <td>
                    <a href="{{ path('concert_delete', {id: concert.id}) }}"> <button type="button" class="btn btn-primary">Supprimer</button> </a>
                    <a href="{{ path('concert_update', {id: concert.id}) }}"> <button type="button" class="btn btn-primary">Modifier</button> </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div>
        <a href="{{ path('concert_create') }}"> <button type="button" class="btn btn-primary">Crée un nouveau concert</button> </a>
    </div>
{% endblock %}