<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>

        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include('navbar.html.twig') %}
        {% endblock %}

        {% block body %}
            <h1> Bonjour et bienvenue sur le sites de nos gestions de concert en symfony</h1>
            <h1> Les prochains concert que l'on accueille</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Groupe</th>
                    <th scope="col">Tournée</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for concert in concerts %}
                    <tr>
                        <td>
                            {% for concert in concert.bands %}
                                {{ concert.name }}
                            {% endfor %}
                        </td>
                        <td> {{ concert.tourName }} </td>
                        <td> {{ concert.date|date("m/d/Y") }} </td>
                    </tr>
                {% endfor %}
            </table>
        {% endblock %}

        {% block javascripts %}
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}

        {% block footer %}
            {% include('footer.html.twig') %}
        {% endblock %}
    </body>
</html>
