<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <a class="text-dark" href="{{ path('accueil')}}"> Retour a l'accueil </a>
        © 2020 Copyright : Triple Room, 99 Avenue d'Occitanie, 34090 Montpellier
    </div>
</footer>