<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('accueil')}}">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if app.user %}
        <a class="navbar-brand" href="{{ path('app_login')}}">Bonjour {{ app.user.firstName }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% else %}
        <a class="navbar-brand" href="{{ path('app_login')}}">Connection</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('app_register')}}">Créer un compte</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endif %}

    {% if app.user %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('member')}}">Membres</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('band')}}">Groupes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('concert')}}">Concerts</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('concert_past')}}">Concerts passées</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('member_admin')}}">Membres Admin</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('band_admin')}}">Groupes Admin</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('concert_admin')}}">Concert Admin</a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</nav>